ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FEC601;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

li {
  float: left;
}

li a {
  text-size: 50px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: #ffb70f;
}

.active {
  background-color: black;
  color: #FEC601;
}

.active:hover {
  opacity: 0.7;
  color: #ffb70f;
}

.ulaznicebutton {
  width: 50px;
  box-shadow: 0px 8px 14px -7px #000000;
  background: linear-gradient(to bottom, #FEC601 5%, #ffb70f 100%);
  background-color: #FEC601;
  border-radius: 11px;
  ~display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 1vw;
  font-weight: normal;
  padding: 0.8% 2%;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  margin-left: 15%;
}

.ulaznicebutton:hover {
  background: linear-gradient(to bottom, #FEC601 5%, #ffb710 100%);
  background-color: #FEC601;
}

.ulaznicebutton:active {
	position:relative;
	top:1px;
}

.najave_box {
  margin: 2.4% 0 1% 1.5%;
  position: absolute;
  padding: 0.8% 0.8% 0.4% 0.8%;
  background-color: #efefef;
  border-radius: 5px;
  -webkit-box-shadow: box-shadow: 0px 8px 14px -7px #000000;
  -moz-box-shadow: 0px 8px 14px -7px #000000;
  box-shadow: 0px 8px 14px -7px #000000;
  width:30%;
}

.najave_naslov {
  padding: 0px;
  margin: 0px;
  width: 3.5%;

}

.imgpadright {
  margin-right: 3%;
}

.slikashadow {
  -webkit-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 11px -1px rgba(0, 0, 0, 0.75);
}

.najave_wrapper {

  margin-bottom: 1%;
  margin-left: 0.5%;
  width: 96%;
}

.najave_imena {
  width: 96%;
  margin-left: 4%;
  font-size: 1vw;
}


.imefilma {
  text-align: center;
  width:31%;
  float: left;
}

.top5_box {
  background-color: #efefef;
  border-radius: 5px;
  -webkit-box-shadow: box-shadow: 0px 8px 14px -7px #000000;
  -moz-box-shadow: 0px 8px 14px -7px #000000;
  box-shadow: 0px 8px 14px -7px #000000;
  float: right;
  font-size: 0.8vw;
  padding-right: 1.2%;
  padding-left: 1.2%;
  padding-bottom: 2.4%;
  margin-top: 10%;
  margin-right: 3%;
  width: 30%;
}

.top5_img {
  float: left;
  width: 45%;
}

.top5_list {
  float: right;
  width: 50%;

}

.movie_box {
  background-color: #efefef;
  border-radius: 5px;
  -webkit-box-shadow: box-shadow: 0px 8px 14px -7px #000000;
  -moz-box-shadow: 0px 8px 14px -7px #000000;
  box-shadow: 0px 8px 14px -7px #000000;
  font-size: 14px;
width: 80%;
min-width: 70%;
  margin: 15px auto 20px auto;
  padding: 20px;
}

.table_name
{
  color: rgb(5,68,125);


}

.rezerv_box
{
  margin: 4%;
  background-color: #FEC601;
  padding: 5%;
  width: auto;
   display:inline-block;
   border-radius: 3px;
}

.rezerv_box:hover
{
  background-color: #ffb70f;
}
.rezerv_box:active {
	position:relative;
	top: 1px;
}
