.moviebanner {

  margin: auto;
  width: 80%;
  overflow: hidden;

}



.gumbeki {
  margin-top: 10px;
  float: right;
}

.mySlides {
  display: none;
  box-shadow: 0px 8px 14px -7px #000000;
}

.w3-left, .w3-right, .w3-badge {
  color: #FEC601;
  cursor: pointer
}

.w3-badge {
  height: 20px;
  width: 20px;
  padding: 0
}
.borderthicc
{
  border: 2px solid black;
}
